/* ---------------------------------------------------
    Contour plot
----------------------------------------------------- */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg .rect {
  fill: gold;
  stroke: steelblue;
  stroke-width: 5px;
}


.sgd {
    stroke: red;
}

.momentum {
    stroke: orange;
}

.rmsprop {
    stroke: blue;
}

.adam {
    stroke: green;
}

.SGD {
    fill: red;
}

.Momentum {
    fill: orange;
}

.RMSProp {
    fill: blue;
}

.Adam {
    fill: green;
}

circle:hover {
  fill-opacity: .3;
}