.sgd {
    stroke: red;
}

.momentum {
    stroke: orange;
}

.rmsprop {
    stroke: blue;
}

.adam {
    stroke: green;
}

.amsgrad {
	stroke: purple;
}


.SGD {
    fill: red;
}

.Momentum {
    fill: orange;
}

.RMSProp {
    fill: blue;
}

.Adam {
    fill: green;
}

.AMSgrad {
	fill: purple;
}

circle:hover {
  fill-opacity: .3;
}